<%- include("../../partials/header.ejs") %>


<div class="container my-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body">
                <h4 class="mb-3">Login to your Account</h4>
                <form action="/auth/login" method="post">
                    <div class="form-group">
                        <label for="email">Enter Your Valid Email Address</label>
                        <input type="email" name="email" id="email" class="form-control <%= error.email && 'is-invalid' %>">
                        <div class="invalid-feedback">
                            <%= error.email && error.email%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Enter Your password</label>
                        <input type="password" name="password" id="password" class="form-control <%= error.password && 'is-invalid' %>">
                        <div class="invalid-feedback">
                            <%= error.password && error.password%>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
                <span class="my-3 text-center">Don't have an account? <a href="/auth/signup">signup</a></span>
            </div>
        </div>
    </div>
</div>




<%- include("../../partials/footer.ejs") %>
</body>
</html>